:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --theme-menu-color: #FF0070;
  --button-hover-border-color: #FF007066;
  --header-title-color: #DB00FF;
  --title-color: #FF0070;
  --subtitle-color: #000028;
  --item-title-color: #000028;
  --text-color: #F1B2CE;
  --shadow-color: var(--accent-color);
  --decor-color: var(--accent-color); 
}

.theme-dark .header__decor {
  display: inline;
}