:root {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --theme-menu-color: #ff0070;
  --button-hover-border-color: #ff007066;
  --header-title-color: #db00ff;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --item-title-color: #000028;
  --text-color: #f1b2ce;
  --layout-padding-inline: 10px;
  --layout-padding-block: 10px;
  --section-spacing: 40px;
  --text-spacing: 10px;
  --title-spacing: 10px;
  --heading-text-spacing: 20px;
  --gap-small: 10px;
  --gap-medium: 20px;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-width: 355px;
  --shadow-color: var(--accent-color);
  --decor-color: var(--accent-color);
  --rec-display: inline;
}

@media (width >= 768px) {
  :root {
    --layout-padding-inline: 20px;
    --layout-padding-block: 20px;
    --section-spacing: 60px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --text-width: 236px;
    --title-spacing: 20px;
  }
}

@media (width >= 1024px) {
  :root {
    --text-width: 315px;
  }
}
